@charset "UTF-8";
a {
    text-decoration:none;
    color:black;
}

/* メインの画像をグリッドの配置にする（ここから） */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}
/* メインの画像をグリッドの配置にする（ここまで） */

/* wrapperで表示サイズを調整する（ここから） */
.wrapper {
    width: 100vw;
    max-width: 1360px;
    margin: 0 auto 30px;
    padding: 0 40px;
    margin-bottom: 30px;
}
.product-list img {
    width: 100%;
}
.product-list {
    list-style: none;
}
/* wrapperで表示サイズを調整する（ここまで） */

/* headerとfooterを横並びにする（ここから） */
#header {
    display: flex;
    justify-content: space-between;
}
#footer .menu{
    display: flex;
    list-style: none;
}
.menu li {
    margin-right: 15px;
}
/* headerとfooterを横並びにする（ここまで）*/

.link-text {
    display: block;
    text-align: center;
    margin-top: 40px;
}

/*レスポンシブ対応デザイン*/
@media  (max-width: 600px){
    .product-list {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}
/*スマホ時　プロダクトタイトルを小さくする*/
    .product-list p {
        font-size: 0,8rem;
        /*タイトル文字をスマホ時少し小さくする*/
        line-height: 1.4;
        margin-top: 6px;
    }
    .site-title img {
        height: 24px;
        width: auto;
    }
    .link-text {
        margin-top: 40px;
    }
    /*プロダクトタイトル*/
    .page-title {
        font-size: 20px;
        margin-bottom: 10px;
    }


    .item {
    display: flex;
    max-width: 800px;
    justify-content: space-between;

    }
    .item .item-img {
        width: 42%;
    }

    .item .item-text {
        width: 50%;
    }
    .item .item-img img {
        width: 100%;
        
    }

    .item .item-text p {
        margin-bottom: 20px;
    }

    /*テーブルの編集*/
    .item table th {
        text-align: left;
        font-weight: normal;
    }

    .item table td {
        padding-left:  1rem;
    }

